<section>
    <h3>Administration du site</h3>

    <div id="accordion">

		<h4>Gestion des utilisateurs</h4>
    		<div>
    			<a href="{{ path('new_account_admin') }}" class="btn btn-success actionButton">Créer un client</a><br>
				<a href="{{ path('listingCustomer') }}" class="btn btn-info actionButton">Lister les clients</a>
			</div>

	    <h4>Gestion des produits</h4>
    		<div>
				<a href="{{ path('createProducts') }}" class="btn btn-success actionButton">Créer un produit</a><br>
				<a href="{{ path('listingProducts') }}" class="btn btn-info actionButton">Lister les produits</a>
			</div>
	
		<h4>Gestion des prestations</h4>
			<div>
				<a href="{{ path('createServices') }}" class="btn btn-success actionButton">Créer une prestation</a><br>
				<a href="{{ path('listingServices') }}" class="btn btn-info actionButton">Lister les prestations</a>
			</div>
			

		<h4>Gestion des fournisseurs</h4>
			<div>
				<a href="{{ path('createSupplier') }}" class="btn btn-success actionButton">Créer un fournisseur</a><br>
				<a href="{{ path('listingSupplier') }}" class="btn btn-info actionButton">Lister les fournisseurs</a>
			</div>

		<h4>Gestion des catégories de produit</h4>
			<div>
				<a href="{{ path('createCategoryProd') }}" class="btn btn-success actionButton">Créer une catégorie</a><br>
				<a href="{{ path('listingCategoryProd') }}" class="btn btn-info actionButton">Lister les catégories</a>
			</div>

		<h4>Gestion des catégories de prestation</h4>
			<div>
				<a href="{{ path('createCategoryServ') }}" class="btn btn-success actionButton">Créer une catégorie</a><br>
				<a href="{{ path('listingCategoryServ') }}" class="btn btn-info actionButton">Lister les catégories</a>
			</div>
	</div>

</section>