{% extends 'ProductBundle::layout.html.twig' %}

{% block body %}
	{% if products is empty %}
		<h3><a href="{{ path( 'product_overall' ) }}">{{currentCatProd.intitule}} :<span>Retour</span></a></h3>
		<br>
		<section>
		    <br>
			{% for flashMessage in app.session.flashbag.get('user_add_warning') %}
			        <div class="add_warning">
			        <p>
			        {{ flashMessage }}
			        </p>
			        </div>
			{% endfor %}
			<br>
	    </section>
	{% else %}
		<h3><a href="{{ path( 'product_overall' ) }}">{{currentCatProd.intitule}} : <span>Retour</span></a></h3>
		<br><br>
		<section>
			{% for products in products %}
					<form class="CatListing" action="#">
						<div>
							<img src="{{ asset(products.urlimage) }}" class="catImg" alt="Image impossible à charger">
							<br><br>
							{% if products.nouveaute > 0 %}
								<h5 class="CatListingSpan">Nouveauté !</h5>
							{% else %}
								<h5 class="CatListingSpan"> </h5>
							{% endif %}
							<a href="#" name="{{products.id }}">{{products.designation }}</a>
							<br><br>
						</div>
						<div>
								<p>Fabriquant : {{products.fournisseurs.nom }}</p>
								<br>
								<p>Stock actuel : {{products.stock}}</p>
								<p>Prix : {{products.prix}} €</p>
								<button data-id="{{products.id}}" data-action="2" class="ToCart">-</button>
									<img class="panierlight" src="{{asset('bundles/InstantSoin/Images/panier_vide_light.png')}}" alt="Impossible à charger">
								<button data-id="{{products.id}}" data-action="1" class="ToCart">+</button>
						</div>
					</form>
		    {% endfor %}
		</section>
		<button href="{{ path( 'tobd' ) }}">sauv panier</button>
	{% endif %}
	    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).ready(function(){
            $(".ToCart").click(function(){

                var id = $(this).data("id");
				var action = $(this).data("action");

                $.ajax(
                {
                    url:"{{ path( 'to_cart' ) }}",
                    type : 'post',
                    data : {id:+ id,action:+ action},
                    success: function(data){
                    	alert(data);
                    }
                });
            });
    });
    </script>
{% endblock %}