{% extends 'ProductBundle::layout.html.twig' %}

{% set totalHT = 0 %}
{% set totalTTC = 0 %}
{% set refTva = {} %}
{% for produit in produits %}
    {% set refTva = refTva|merge({ (produit.tva.valeur ~ '%') : 0 }) %}
{% endfor %}

{% block body %}
        <h3>Votre panier</h3>
        
        {% if produits|length > 0 %}
                <div>
                    <button data-action="vider" class="btn btn-warning actionButton ToCart">Vider le panier</button>
                </div>
        {% endif %}

		{% for flashMessage in app.session.flashbag.get('user_add_success') %}
	        <div class="add_success">
	        <p>
	        {{ flashMessage }}
	        </p>
	        <br>
	        </div>
		{% endfor %}
		<br><br>
        <table class="table table-hover modifTable" >
                <thead>
                    <tr>
                        <th>Désignation</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Total HT</th>
                    </tr>
                </thead>
                <tbody>
                    {% if produits|length == 0 %}
                        <tr>
                            <td colspan="4"><center>Aucun article dans votre panier</center></td>
                        </tr>
                    {% endif %}
                    
                    {% for produit in produits %}
                    	<tr>
                            <form action="{{ path('to_cart', { 'id' : produit.id }) }}" method="get">
                                <td>{{ produit.designation }}</td>
                                <td>
                                    <select name="qte" class="span1" onChange="this.form.submit()">
                                        {% for i in 1..10 %}
                                            <option value="{{ i }}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>&nbsp;
                                    <a href="{{ path('del_prod_cart', { 'id' : produit.id }) }}"><img src="{{ asset('bundles/InstantSoin/Images/Trash_Can.png') }}"></a>
                                </td>
                                <td>{{ produit.prix }} €</td>
                                <td>{{ produit.prix * panier[produit.id] }} €</td>
                            </form>
                        </tr>
                        {% set totalHT = totalHT + (produit.prix * panier[produit.id]) %}
	                    {% set totalTTC = totalTTC + (produit.prix * panier[produit.id])|tva(produit.tva.multiplicate) %}
	                    {% set refTva = refTva|merge({ (produit.tva.valeur ~ '%') : refTva[produit.tva.valeur ~ '%'] + ( produit.prix * panier[produit.id])|montantTva(produit.tva.multiplicate) }) %}
                    {% endfor %}
                </tbody>
            </table>
		    {% if produits|length != 0 %}
            <dl class="dl-horizontal pull-right">
                <dt>Total HT :</dt><dd>{{ totalHT }} €</dd>
                
                {% for key, tva in refTva %}
                    <dt>TVA {{ key }} :</dt><dd>{{ tva }} €</dd>
                {% endfor %}

                <dt>Total TTC :</dt><dd>{{ totalTTC }} €</dd>
                <div class="clearfix">
                    <a href="#" class="btn btn-primary pull-left actionButton">Continuer mes achats</a>
                    <a href="#" class="btn btn-success pull-right actionButton">Valider mon panier</a>
                </div>
            </dl>
            {% endif %}
            
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).ready(function(){
            $(".ToCart").click(function(){

				var action = $(this).data("action");

                $.ajax(
                {
                    url:"{{ path( 'emptyCart' ) }}",
                 	type : 'post',
                    data : {action:+ action},
                    success: function(data){
                    	alert(data);
                    }
                });
            });
    });
    </script>
{% endblock %}